node_modules/
dist/
.next/
*.tsbuildinfo
.env
.env.local
dev/.env
.DS_Store
*.log
checkpoints/*.json
examples/*/checkpoints/
*.db
.turbo

# Z szablonu GitHub
*.tgz
.npm
package-lock.json
.eslintcache
.stylelintcache
out
.cache
.parcel-cache
